<%= form_for(order) do |f| %>
  <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %>
      prohibited this order from being saved:</h2>

      <ul>
      <% order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :first_name, "First Name" %>
    <%= f.text_field :first_name, value: current_user.first_name, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :last_name, "Last Name" %>
    <%= f.text_field :last_name, value: current_user.last_name %>
  </div>

  <div class="field">
    <%= f.label :address_line1, "Address Line 1" %>
    <%= f.text_field :address_line1, value: current_user.address_line1 %>
  </div>

  <div class="field">
    <%= f.label :address_line2, "Address Line 2" %>
    <%= f.text_field :address_line2, value: current_user.address_line2 %>
  </div>

  <div class="field">
    <%= f.label :address_line3, "Address Line 3" %>
    <%= f.text_field :address_line3, value: current_user.address_line3 %>
  </div>

  <div class="field">
    <%= f.label :town_city, "Town or City" %>
    <%= f.text_field :town_city, value: current_user.town_city %>
  </div>

  <div class="field">
    <%= f.label :county, "County" %>
    <%= f.text_field :county, value: current_user.county %>
  </div>

  <div class="field">
    <%= f.label :postcode, "Postcode" %>
    <%= f.text_field :postcode, value: current_user.postcode %>
  </div>

  <div class="actions">
    <%= f.submit 'Place Order' %>
  </div>
<% end %>