<%= form_for(game) do |f| %>
  <% if game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
      <% game.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>

  <div class="field">
    <%= f.label :image1, "Image 1" %>
    <%= f.text_field :image1 %>
  </div>

  <div class="field">
    <%= f.label :image2, "Image 2" %>
    <%= f.text_field :image2 %>
  </div>

  <div class="field">
    <%= f.label :image3, "Image 3" %>
    <%= f.text_field :image3 %>
  </div>

  <div class="field">
    <%= f.label :image3, "Image 4" %>
    <%= f.text_field :image3 %>
  </div>

  <div class="field">
    <%= f.label :image4 %>
    <%= f.text_field :image4 %>
  </div>

  <div class="field">
    <%= f.label :release_date, "Release Date" %>
    <%= f.date_field :release_date %>
  </div>

  <div class="field">
    <%= f.label :price %>
    <%= f.text_field :price %>
  </div>

  <div class="field">
    <%= f.label :players %>
    <%= f.number_field :players %>
  </div>

  <div class="field">
    <%= f.label :multiplayer_format, "Multiplayer Format" %>
    <%= f.text_field :multiplayer_format %>
  </div>

  <div class="field">
    <%= f.label :coop %>
    <%= f.check_box :coop %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
