<!DOCTYPE html>
<html>
  <head>
    <title>Gameframe</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="<%= controller.controller_name %>">
    <div class="container">
      <header>
        <div class="row">
          <div class="col-md-3">
            <span class="logo"><%= link_to "Gameframe", root_path %></span>
          </div>
          <div class="col-md-9">
            <nav>
              <ul>
                <% if current_user %>
                  <li>
                    <%= link_to "Account", edit_user_registration_path %>
                  </li>
                  <li>
                    <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
                  </li>
                <% else %>
                  <li>
                    <%= link_to "Register", new_user_registration_path %>
                  </li>   
                  <li>
                    <%= link_to "Log In", new_user_session_path %>
                  </li>
                <% end %>    
              </ul>
            </nav>
          </div>
        </div>
      </header>
      <main>
        <div class="row">
          <p><%= notice %></p>
          <p><%= alert %></p>
        </div>
        <%= yield %>
      </main>
    </div>
  </body>
</html>
